on:
  push:
    tags:
      - 'next-ssr.dev-*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false
      - name: Change .npmrc
        run: |
          echo "node-linker = hoisted" >> .npmrc
      - name: Build ui
        working-directory: ./packages/ui-material
        run: |
          pnpm install
          pnpm build
      - name: Build
        env:
          OUTPUT: standalone
          CMS_TOKEN: ${{ secrets.CMS_TOKEN }}
          CMS_URL: ${{ secrets.API_CMS_URL }}
          WEB_ID: ${{ vars.WEB_ID }}
          NO_CACHE: 1
        working-directory: ./apps/next-app
        run: |
          pnpm install
          pnpm build
          cp -r .next/static .next/standalone/apps/next-app/.next/
      - name: 'Deploy to Azure WebApp'
        uses: azure/webapps-deploy@v2
        with: 
          app-name: poc-next
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: apps/next-app/.next/standalone
      